{% extends 'pages/dashboard.html.twig' %}

{% block title %}Update a Car !{% endblock %}

{% block content %}

    <div class="container mb-5">
        <h1 class="text-center mt-5">Edit Car</h1>
        <div class="p-5 justify-content-center">
            {{ include('components/_form.html.twig', {'button_label': 'Update'}) }}     
        </div>
         <a href="{{path('app_admin')}}" class="btn btn-secondary mt-5">Return</a>
    </div>
{% endblock %}