{% extends 'cars/index.html.twig' %}

{% block title %}Register{% endblock %}

{% block content %}

    <h1>Register a car</h1>

    <div class="d-flex justify-content-center">
        {{ include('cars/_form.html.twig') }}     
    </div>

{% endblock %}