{% extends "base.html.twig" %}

{% block title %} Projects
{% endblock %}

{% block body %}
    <h1>new project</h1>
        {# <a class="btn btn-secondary" href="{{path('app_projects')}}">Return</a> #}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{{ form(form) }}


{% endblock %}