{% block footer %}
	<footer class="text-center text-white bg-dark">
		<div class="text-center p-2">
			<div class=""  target="_blank">© 2023 This was made by <a class="link-info link-underline-opacity-0" href="https://eduardevs.website">EduarDevs</span></divs>
		</div>
	</footer>
{% endblock %}
