{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <h1>Edit Car</h1>

    <div class="d-flex justify-content-center">
        {{ include('admin/cars/_form.html.twig') }}     
    </div>

{% endblock %}